{% extends "paper/base.html" %}

{% block content %}
<div id="left">
    <div id="menu">
        <a href="{% url Paper#new %}" id="papers-add-link" class="button light small">Add Paper</a>
        <ul>
            <li class="{% block left-menu-all %}{% endblock %}"><a href="{% url Paper#index %}">All Papers</a></li>
            <!-- <li class="{% block left-menu-recent %}{% endblock %}"><a href="">Recent</a></li> -->
            <li class="{% block left-menu-starred %}{% endblock %}"><a href="">Starred <span class="star">&#9733;</span></a></li>
            <li class="{% block left-menu-trash %}{% endblock %}"><a href="">Trash</a></li>
        </ul>
        <!-- TODO: Add Tags -->
    </div>
</div>

<div id="right">
<div class="padding">
    <div id="search">
        <form action="" method="POST" name="search_form">
            {% csrf_token %}
            <input name="search" type="text" class="search" />
            <button type="submit" class="light" name="submit" value="Submit">Search Papers</button>
        </form>
    </div>

{% block subcontent %}
{% endblock %}

</div>
</div>
{% endblock %}
