{% extends "paper/app_base.html" %}
{% block bodyid %}new_paper{% endblock %}

{% block title %}Add Paper Status{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.periodicalupdater.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');

            poll_url = '{% url Paper#import_url_poll self.task_id %}';
            pu = $.PeriodicalUpdater(poll_url, {
                method: 'get',          // method; get or post
                minTimeout: 1000,       // starting value for the timeout in milliseconds
                maxTimeout: 5000,      // maximum length of time between requests
                multiplier: 1.2,          // if set to 2, timerInterval will double each time the response hasn't changed (up to maxTimeout)
                type: 'json',           // response type - text, xml, json, etc. See $.ajax config options
                maxCalls: 50,           // maximum number of calls. 0 = no limit.
                autoStop: 15            // automatically stop requests after this many returns of the same data. 0 = disabled.
            }, function(data) {
                // Handle the new data (only called when there was a change)
                if (data['is_done'] == true) {
                    window.location.replace('{% url Paper#new_manual self.task_id %}');

                    //.stop() prevents anything else from executing so we put
                    //this last.
                    pu.stop();
                } 
                //TODO: Determine the progress of the refresh.
            }, function() {
                //Auto stopped. Must be something wrong with the server. Redirect
                //to manual add.
                window.location.replace('{% url Paper#new_manual %}');
            });
            
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block subcontent %}
<h2 id="title">Add a New Paper</h2>

<div id="description"></div>

<div id="import_status">
    <img src="{{ STATIC_URL }}images/loading.gif" />
    <p>Attempting to retrieve citation information...</p>
</div>

<div id="select_manual_add" class="select_link">Or, <a href="{% url Paper#new_manual %}">I would like to add the paper manually...</a></div>

{% endblock %}

