{% extends "paper/app_base.html" %}
{% block bodyid %}new_paper{% endblock %}

{% block title %}Add Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block subcontent %}
<h2 id="title">Add a New Paper</h2>

<div id="description"></div>

<p id="import_url_description">Tell us the URL of the paper and we will try
to fill in the citation information automatically:</p>

<form action="{% url Paper#create %}" method="POST" name="import_url_form"
    id="import_url_form" class="papers">
    {% csrf_token %}

    {{ self.form.url.errors }}
    <div class="field">
        <label for="id_url" class="optional">URL</label> 
        <div class="right">
            {{ self.form.url }}
        </div>
    </div>

    <div class="actions">
        <button type="submit" id="new_paper_submit" class="light" name="submit"
            value="Submit">Add Paper &raquo;</button>
    </div>
</form>

<div id="select_manual_add" class="select_link">Or, <a href="{% url Paper#new_manual %}">I would like to add the paper manually...</a></div>

{% endblock %}

