{% extends "paper/app_base.html" %}
{% block bodyid %}new_paper{% endblock %}

{% block title %}Add Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');

            var asap_fields = ['#id_year', '#id_volume', '#id_issue', '#id_pages'];
            $('#id_is_asap').change(function() {
                if (this.checked == true) {
                    //We want to grey out the year, volume, issue, and pages field's
                    //textboxes
                    $.each(asap_fields, function (i, v) {
                        $(v).css('background-color', '#eee');
                        $(v).css('color', '#999');
                    });

                    //Set the year box to current year
                    $('#id_year').val((new Date()).getFullYear());
                } else {
                    //Remove the styles
                    $.each(asap_fields, function (i, v) {
                        $(v).css('background-color', '');
                        $(v).css('color', '');
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block subcontent %}
<h2 id="title">Add a New Paper</h2>

<div id="description"></div>

<div id="select_auto_add" class="select_link"><a href="{% url Paper#new %}">&larr; Try automatically adding the citation</a></div>

<form action="{% url Paper#create_manual %}" method="POST" enctype="multipart/form-data"
    name="new_paper_form" id="new_paper_form" class="papers">
    {% csrf_token %}
    <div class="field">
        <label for="id_title">Title</label> 
        <div class="right">
            {{ self.form.title.errors }}
            {{ self.form.title }}
        </div>
    </div>

    <div class="field">
        <label for="id_authors">Author(s)</label> 
        <div class="right">
            {{ self.form.authors.errors }}
            {{ self.form.authors }}
            <small class="helper">Enter each author on a new line. You may
            format each name like: <strong>First Middle Last</strong> or <strong>Last,
            First Middle</strong>.</small>
        </div>
    </div>

    <div class="field">
        <label for="id_journal" class="optional">Journal</label> 
        <div class="right">
            {{ self.form.journal.errors }}
            {{ self.form.journal }}
        </div>
    </div>

    <div class="field">
        <label for="id_year" class="optional">Year</label> 
        <div class="right">
            {{ self.form.year.errors }}
            {{ self.form.is_asap.errors }}

            {{ self.form.year }}
            <span id="is_asap">
                Is preprint/ASAP? {{ self.form.is_asap }}
                <small>(i.e. check box if article was published in advance of a print version)</small>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="id_volume" class="optional">Volume</label> 
        <div class="right">
            {{ self.form.volume.errors }}
            {{ self.form.volume }}
        </div>
    </div>

    <div class="field">
        <label for="id_issue" class="optional">Issue</label> 
        <div class="right">
            {{ self.form.issue.errors }}
            {{ self.form.issue }}
        </div>
    </div>

    <div class="field">
        <label for="id_pages" class="optional">Pages</label> 
        <div class="right">
            {{ self.form.pages.errors }}
            {{ self.form.pages }}
        </div>
    </div>

    <div class="field">
        <label for="id_url" class="optional">URL</label> 
        <div class="right">
            {{ self.form.url.errors }}
            {{ self.form.url }}
        </div>
    </div>

    <div class="field">
        <label for="id_file" class="optional">File</label> 
        <div class="right">
            {{ self.form.file.errors }}
            {{ self.form.file }}
            <small class="helper">Select and upload the file that is associated with this paper.</small>
        </div>
    </div>

    <div class="actions">
        <button type="submit" id="new_paper_submit" class="light" name="submit"
            value="Submit">Add paper &raquo;</button>
    </div>
</form>
{% endblock %}

