body#login, body#logout
  //background: #ccc
  #header, #footer
    display: none
  #login_box
    margin: 0px auto
    //If user can't execute javascript, we set a default top margin.
    margin-top: 100px
    width: 420px
    border: 10px solid #ccc
    padding: 20px
    //For some reason, seems like we need a bit more 
    //for the bottom.
    padding-bottom: 30px
    text-align: center
    +border-radius(10px)
    h2
      margin-bottom: 0.2em 
      font-family: $serif_font
      font-size: 2.8em
      a
        color: #333
        text-decoration: none
    p
      margin: 0
    form
      text-align: left
      width: 85%
      margin: 0 auto
      .errorlist
        +errorlist-style
        background: transparent
        border: none
        text-align: left
        padding: 0
      .field
        margin-bottom: 10px
        label
          //font-family: $serif_font
          font-size: 1.25em
        input[type=text], input[type=password]
          //We can't use 100% since the input box will overshoot the 100% (probably
          //because of borders and padding. So we set a width that's about 100%
          font-size: 1.65em
          padding: 5px
          margin: 0
          width: 345px
      .actions-left
        float: left
        margin-top: 0.70em
        font-size: 1.00em
      //We use this to align the submit button to the right
      .actions
        margin-top: 1.2em
        text-align: right

body#register, body#password_reset, body#password_change
  form
    margin-top: 1.0em
    .field
      input#id_username, input#id_password1, input#id_password2, input#id_new_password1, input#id_new_password2, input#id_old_password
        width: 300px
