{% extends "papers/app_base.html" %}
{% block bodyid %}new_paper{% endblock %}

{% block title %}Add Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.pack.js"></script> -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.periodicalupdater.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.url.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block subcontent %}
<h2 id="title">Add a New Paper</h2>

<div id="description"></div>

<div id="select_auto_add" class="select_link"><a href="{% url new_paper %}">&larr; Try automatically adding the citation</a></div>

<form action="?manual=true" method="POST" enctype="multipart/form-data"
    name="new_paper_form" id="new_paper_form" class="papers">
    {% csrf_token %}
    <div class="field">
        <label for="id_title">Title</label> 
        <div class="right">
            {{ form.title.errors }}
            {{ form.title }}
        </div>
    </div>

    <div class="field">
        <label for="id_authors">Author(s)</label> 
        <div class="right">
            {{ form.authors.errors }}
            {{ form.authors }}
            <small class="helper">Enter each author on a new line. You may
            format each name like: <strong>First Middle Last</strong> or <strong>Last,
            First Middle</strong>.</small>
        </div>
    </div>

    <div class="field">
        <label for="id_journal" class="optional">Journal</label> 
        <div class="right">
            {{ form.journal.errors }}
            {{ form.journal }}
        </div>
    </div>

    <div class="field">
        <label for="id_year" class="optional">Year</label> 
        <div class="right">
            {{ form.year.errors }}
            {{ form.year }}
        </div>
    </div>

    <div class="field">
        <label for="id_volume" class="optional">Volume</label> 
        <div class="right">
            {{ form.volume.errors }}
            {{ form.volume }}
        </div>
    </div>

    <div class="field">
        <label for="id_issue" class="optional">Issue</label> 
        <div class="right">
            {{ form.issue.errors }}
            {{ form.issue }}
        </div>
    </div>

    <div class="field">
        <label for="id_pages" class="optional">Pages</label> 
        <div class="right">
            {{ form.pages.errors }}
            {{ form.pages }}
        </div>
    </div>

    <div class="field">
        <label for="id_url" class="optional">URL</label> 
        <div class="right">
            {{ form.url.errors }}
            {{ form.url }}
        </div>
    </div>

    <div class="field">
        <label for="id_file" class="optional">File</label> 
        <div class="right">
            {{ form.file.errors }}
            {{ form.file }}
            <small class="helper">Select and upload the file that is associated with this paper.</small>
        </div>
    </div>

    <div class="actions">
        <button type="submit" id="new_paper_submit" class="light" name="submit"
            value="Submit">Add paper &raquo;</button>
    </div>
</form>
{% endblock %}

