{% extends "papers/base.html" %}
{% block bodyid %}new_paper{% endblock %}

{% block title %}Add Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block content %}
{% endblock %}

