{% extends "papers/base.html" %}
{% block bodyid %}new_paper{% endblock %}

{% block title %}Add Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block content %}
<h2 id="title">Add a New Paper</h2>

<div id="description"></div>

<form action="" method="POST" name="new_paper_form" id="new_paper_form" class="papers">
    {% csrf_token %}
    <div class="field">
        <label for="id_title">Title</label> 
        <div class="right">
            <textarea id="id_title" name="title"></textarea>
        </div>
    </div>

    <div class="field">
        <label for="id_authors">Author(s)</label> 
        <div class="right">
            <textarea id="id_authors" name="authors"></textarea>
            <small class="helper">Enter each author on a new line. You may
            format each name like: <strong>First Middle Last</strong> or <strong>Last,
            First Middle</strong>.</small>
        </div>
    </div>

    <div class="field">
        <label for="id_journal">Journal</label> 
        <div class="right">
            <input id="id_journal" type="text" name="journal" maxlength="255" />
        </div>
    </div>

    <div class="field">
        <label for="id_year">Year</label> 
        <div class="right">
            <input id="id_year" type="text" name="year" maxlength="4" />
        </div>
    </div>

    <div class="field">
        <label for="id_volume">Volume</label> 
        <div class="right">
            <input id="id_volume" type="text" name="volume" maxlength="10" />
        </div>
    </div>

    <div class="field">
        <label for="id_issue">Issue</label> 
        <div class="right">
            <input id="id_issue" type="text" name="issue" maxlength="50" />
        </div>
    </div>

    <div class="field">
        <label for="id_pages">Pages</label> 
        <div class="right">
            <input id="id_pages" type="text" name="pages" maxlength="50" />
        </div>
    </div>

    <div class="field">
        <label for="id_url">URL</label> 
        <div class="right">
            <input id="id_url" type="text" name="url" />
        </div>
    </div>

    <div class="actions">
        <button type="submit" id="new_paper_submit" class="light" name="submit"
            value="Submit">Add new paper &raquo;</button>
    </div>
</form>
{% endblock %}

