{% extends "papers/app_base.html" %}
{% block bodyid %}papers_view{% endblock %}

{% block title %}View Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block subcontent %}
<h2 id="title">View Paper</h2>

<div id="description"></div>

</form>
{% endblock %}

