{% extends "papers/app_base.html" %}
{% load split %}
{% load papers %}
{% block bodyid %}papers_view{% endblock %}

{% block title %}View Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');

        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block subcontent %}

<div id="back"><a href="{% url dashboard %}">&larr; Back to all papers</a></div>

<div id="title">{{ paper.title }}</div>

<div id="thumbnail">
    {% if paper.has_thumbnail %}
    <a href="{% quickview paper %}" target="_blank">
        <img src="{% thumbnailurl paper %}" width="180" class="paper" />
    </a>
    {% else %}
    {# If the paper does not have thumbnail but has the file, then the #}
    {# thumbnail is in the process of generating and we show a placeholder. #}
        {% if paper.file %}
        <a href="{% quickview paper %}" target="_blank">
            <img src="{{ MEDIA_URL }}images/paper-generate.gif" width="180" class="generating" />
        </a>
        {% else %}
        <img src="{{ MEDIA_URL }}images/placeholder.png" width="180" class="placeholder" />
        {% endif %}
    {% endif %}
</div>

<div id="paper_info">
    
    <div id="actions">
        {% if paper.file %}
        <a href="{% quickview paper %}" target="_blank" class="quickview">Quickview</a> |
        <a href="{% paperurl paper %}" class="download">Download</a> |
        {% else %}
        <a href="" class="upload">Upload Paper</a> | 
        {% endif %}
        <a href="{% url papers_edit paper.local_id %}">Edit Citation</a>
    </div>
    
    <dl id="information">
        <!-- <dt class="title">Title</dt>
        <dd class="title">{{ paper.title }}</dd> -->
        <dt class="authors">Authors</dt>
        <dd class="authors">
            {% for a in paper.authors|splitlines %}
            {{ a }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </dd>
        <dt class="journal">Journal</dt>
        <dd class="journal">{{ paper.journal }}</dd>
        <dt class="volume">Volume</dt>
        <dd class="volume">{{ paper.volume }}</dd>
        <dt class="issue">Issue</dt>
        <dd class="issue">{{ paper.issue }}</dd>
        <dt class="pages">Pages</dt>
        <dd class="pages">{{ paper.pages }}</dd>
        <dt class="year">Year</dt>
        <dd class="year">{{ paper.year }}</dd>
        <dt class="url">URL</dt>
        <dd class="url"><a href="{{ paper.url }}">{{ paper.url }}</a></dd>
    </dl>

    <!-- TODO: Show cite information -->
</div>

</form>
{% endblock %}

