{% extends "papers/app_base.html" %}
{% load split %}
{% load papers %}
{% block bodyid %}papers_view{% endblock %}

{% block title %}View Paper{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //10 sec delay.
            $('#messages').delay(10000).fadeOut('slow');
        });
    </script>
{% endblock %}

{% block sitenav %}{% endblock %}

{% block subcontent %}

{# TODO: Need an actions bar #}

<div id="title">{{ paper.title }}</div>

<div id="thumbnail">
    <img src="{{ MEDIA_URL }}images/output.png" width=180 />
</div>

<div id="paper_info">
    
    <div id="actions">
            <a href="{% quickview paper %}" target="_blank" class="quickview">Quickview</a> |
            <a href="{% paperurl paper %}" class="download">Download</a> |
            <a href="">Edit Citation</a>
    </div>
    
    <dl id="information">
        <!-- <dt class="title">Title</dt>
        <dd class="title">{{ paper.title }}</dd> -->
        <dt class="authors">Authors</dt>
        <dd class="authors">
            {% for a in paper.authors|splitlines %}
            {{ a }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </dd>
        <dt class="journal">Journal</dt>
        <dd class="journal">{{ paper.journal }}</dd>
        <dt class="volume">Volume</dt>
        <dd class="volume">{{ paper.volume }}</dd>
        <dt class="issue">Issue</dt>
        <dd class="issue">{{ paper.issue }}</dd>
        <dt class="pages">Pages</dt>
        <dd class="pages">{{ paper.pages }}</dd>
        <dt class="year">Year</dt>
        <dd class="year">{{ paper.year }}</dd>
        <dt class="url">URL</dt>
        <dd class="url"><a href="{{ paper.url }}">{{ paper.url }}</a></dd>
    </dl>

    <!-- TODO: Show cite information -->
</div>

<!--
<h3 id="quickview">Quick View</h3>
<a href="{% quickview paper %}" id="quickview_helper" target="_blank">(open in new window)</a>

{# TODO: Insert quickview embed #}
<iframe src="{% quickview paper %}" style="width:100%; height:800px;" frameborder="0"></iframe>
-->

</form>
{% endblock %}

