{% extends "papers/base.html" %}
{% block bodyid %}password_reset{% endblock %}

{% block title %}Reset Password Sent{% endblock %}

{% comment %}
{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endblock %}
{% endcomment %}

{% block content %}
<h2 id="title">Password Reset Sent</h2>

<div id="description">
We sent you an email with a link to reset your password. Please check your
email, and click the link to continue.
</div>

{% endblock %}

