{% extends "subscription/base.html" %}
{% block bodyid %}password_reset{% endblock %}

{% block title %}Password Reset Successful - subscripter{% endblock %}

{% comment %}
{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endblock %}
{% endcomment %}

{% block content %}
<h2 id="title">Password Reset Successful</h2>

<div id="description">
    Your password has been successfully reset! <a href="{% url auth_login %}">You may now log in &raquo;</a>
</div>

{% endblock %}

