{% extends "papers/base.html" %}
{% block bodyid %}password_change{% endblock %}

{% block title %}Password Changed Successfully{% endblock %}

{% comment %}
{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endblock %}
{% endcomment %}

{% block content %}
<h2 id="title">Password successfully changed!</h2>

<div id="description"></div>


{% endblock %}

