{% extends "subscription/base.html" %}
{% block bodyid %}password_reset{% endblock %}

{% block title %}Reset Password - subscripter{% endblock %}

{% comment %}
{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endblock %}
{% endcomment %}

{% block content %}
<h2 id="title">Password Reset</h2>

<div id="description">
Forgot your password?  Enter your email in below and we'll send you
instructions for creating a new password.
</div>

<form action="" method="POST" id="password_reset_form" class="admin">
    {% csrf_token %}
    <div class="field">
        <label for="id_email">Email Address</label> 
        <div class="right">
            {{ form.email.errors }}
            {{ form.email }}
            <small class="helper"></small>
        </div>
    </div>

    <div class="actions">
        <button type="submit" class="light" name="submit" value="Submit">Reset Password &raquo;</button>
    </div>
</form>


{% endblock %}

