{% extends "papers/base.html" %}
{% block bodyid %}register{% endblock %}

{% block title %}Registration Closed{% endblock %}

{% comment %}
{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endblock %}
{% endcomment %}

{% block content %}
<h2 id="title">Registrations are closed</h2>

<div id="description">Sorry! Registrations are closed at the moment. Please check back later...</div>


{% endblock %}

